# Игнорируем файл с токеном
env.txt

# Игнорируем кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем базу данных
stats.sqlite

# Игнорируем виртуальное окружение (если используешь)
venv/
